<nav class="navbar navbar-fixed-top" role="navigation" id="mainNav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= sails.config.appName %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Acceuil</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= __('Menu.Delivery.Dropdown') %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/delivery/create"><%= __('Menu.Delivery.Dropdown.Actions.new') %></a></li>
            <li><a href="/delivery"><%= __('Menu.Delivery.Dropdown.Actions.manage') %></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= __('Menu.Archives.Dropdown') %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <!-- <li><a href="/archives/search"><%= __('Menu.Archives.Dropdown.Actions.search') %></a></li> -->
            <li><a href="/archives/delivery"><%= __('Menu.Archives.Dropdown.Actions.delivery') %></a></li>
          </ul>
        </li>
        <li>
          <a href="/help">Aide</a>
        </li>
        <li class="divider-vertical"></li>
        <li id="statusLi">
          <a href="javascript:;" id="statusContainer"><span id="status" class="connection-status"></span></a>
        </li>
        <li>
          <a href="javascript:;" id="adminLink">Admin</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
