<div class="modal fade window-message window-info" data-backdrop="static" data-keyboard="false" id="ModalWagonRemove">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
        <h4 class="modal-title"><%= __('Railcar') %> <strong id="removeRailcarNumber"></strong></h4>
      </div>
      <form action="" method="" id="RailcarFormRemove">
	      <div class="modal-body">
	      	<input type="hidden" name="id"/>
					<table class="table">
						<!-- <caption>Wagon</caption> -->
						<tbody>
							<tr>
								<td><%= __('Spot') %></td><td id="removeRailcarSpot"></td>
							</tr>
							<tr>
								<td><%= __('Train') %></td><td id="removeRailcarTrain"></td>
							</tr>
						<!-- 	<tr>
								<td><%= __('Modal.Wagon.Delivery') %></td><td id="removeRailcarDelivery"></td>
							</tr> -->
							<tr>
								<td><%= __('Product.Type') %></td><td id="removeRailcarProduct"></td>
							</tr>
							<tr>
								<td><%= __('BillOfLading') %></td><td id="removeRailcarBillOfLading"></td>
							</tr>
							<tr>
								<td><%= __('NetVolBBL') %></td>
								<td id="removeRailcarNetVolBBL">
									<div id="editNetVolBBLForm" class="form-inline">
										<input type="hidden" id="editNetVolBBLRailcarId"/>
										<div class="form-group">
											<input type="text" class='form-control' id="editNetVolBBLInput"/>
										</div>
										<button type="submit" id="changeNetVolBBLButton" class="btn btn-warning">Modifier</button>											
									</div>
								</td>
							</tr>
							<tr>
								<td><%= __('Seals') %></td>
								<td>
									<ul class="nav nav-pills">
										<li id="removeRailcarSeal1"></li>
										<li>-</li>
										<li id="removeRailcarSeal2"></li>
										<li>-</li>
										<li id="removeRailcarSeal3"></li>
									</ul>
								</td>
							</tr>
							<tr>
								<td><%= __('Railcar.Condition') %></td>
								<td id="removeRailcarStatus">

						    <div class="onoffswitch">
						    	<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
						    	<label class="onoffswitch-label" for="myonoffswitch">
						    		<span class="onoffswitch-inner"></span>
						    		<span class="onoffswitch-switch"></span>
						    	</label>
						    </div> 									
									<!-- <input type="checkbox" id="myonoffswitch" checked="checked" /> -->
								</td>
							</tr>
						</tbody>
					</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('Delivery.Modal.Close') %></button>
	        <button type="submit" id="removeCarBtn" class="btn btn-danger"><%= __('Delivery.Modal.RemoveCar') %></button>
	      </div>
	    </form>
    </div>
  </div>
</div>