<!DOCTYPE html>
<html>
  <head>

    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="/images/savage.ico">
    

    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.css">
    <!--STYLES END-->


    <!-- Preload jQuery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>

  </head>

  <body>

    <div id="wrap">
      <%- partial('partials/header.ejs') %>    
      <%- body %>
    </div>
    <%- partial('partials/footer.ejs') %>

    <!-- Loading GIF -->
    <div class="modal-loading"></div>

    <!-- DISCONNECT MESSAGE -->
    <div id="domMessage" style="display: none;">
        <h4>Your session has been disconnected</h4>
        <p>We have are best monkey team trying to solve the problem</p>
        <img src="/images/monkey.jpg"/>
        <p>In the mean time, yout can <a href="/" id="disconnectUrl">try to reload the page</a></p>
    </div>

    <%- partial('./partials/admin.modal.ejs') %>


    <!-- Sails JavaScript Dependencies -->

    <!--SCRIPTS-->
    <script src="/min/production.js"></script>
    <!--SCRIPTS END-->
    <script type="text/javascript" src="/js/parsley/i18n/<%= req.cookies[sails.config.i18n.cookie] || sails.config.i18n.defaultLocale %>.js"></script>


  </body>
</html>
