<!DOCTYPE html>
<html lang="<%= req.cookies[sails.config.i18n.cookie] || sails.config.i18n.defaultLocale %>">
  <head>

    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="/images/savage.ico"/>
    

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/linker/styles/connection.plugin.css">
    <link rel="stylesheet" href="/linker/styles/growl.plugin.css">
    <link rel="stylesheet" href="/linker/styles/loading.plugin.css">
    <link rel="stylesheet" href="/linker/styles/menugrid.plugin.css">
    <link rel="stylesheet" href="/linker/styles/onoffswitch.plugin.css">
    <link rel="stylesheet" href="/linker/styles/parsley.plugin.css">
    <link rel="stylesheet" href="/linker/styles/typeahead.plugin.css">
    <link rel="stylesheet" href="/linker/styles/windowmessage.plugin.css">
    <link rel="stylesheet" href="/linker/styles/main.css">
    <link rel="stylesheet" href="/linker/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/linker/styles/station.css">
    <!--STYLES END-->


    <!-- Preload jQuery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>

  </head>

  <body>

    <div id="wrap">
      <%- partial('partials/header.ejs') %>    
      <%- body %>
    </div>
    <%- partial('partials/footer.ejs') %>

    <!-- Loading GIF -->
    <div class="modal-loading"></div>

    <!-- DISCONNECT MESSAGE -->
    <div id="domMessage" style="display: none;">
        <h4>Your session has been disconnected</h4>
        <p>We have are best monkey team trying to solve the problem</p>
        <img src="/images/monkey.jpg"/>
        <p>In the mean time, <a href="/" id="disconnectUrl">try to reload the page</a></p>
    </div>

    <%- partial('./partials/admin.modal.ejs') %>
    <%- partial('./partials/alert.modal.ejs') %>
    <%- partial('./partials/confirm.modal.ejs') %>
    <%- partial('./partials/info.modal.ejs') %>
    <%- partial('./partials/messages.ejs') %>


    <!-- Sails JavaScript Dependencies -->

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/bootstrap.growl.min.js"></script>
    <script src="/linker/js/bootstrap.min.js"></script>
    <script src="/linker/js/handlebars-v2.0.0.js"></script>
    <script src="/linker/js/jquery.blockui.js"></script>
    <script src="/linker/js/parsley.min.js"></script>
    <script src="/linker/js/typeahead.js"></script>
    <script src="/linker/js/utils.js"></script>
    <!--SCRIPTS END-->
    <script type="text/javascript" src="/js/parsley/i18n/<%= req.cookies[sails.config.i18n.cookie] || sails.config.i18n.defaultLocale %>.js"></script>


  </body>
</html>
