<div class="container" id="deliveryStats">


  <div class="row">
    <h1>
    	<a href="/"><%= __('Home') %></a> / 
    	<a href="/admin"><%= __('Admin') %></a>
    </h1>
  </div>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 25px;">
  <li class="active"><a href="#operators" role="tab" data-toggle="tab"><%= __('Operators') %></a></li>
  <li><a href="#searchTab" role="tab" data-toggle="tab"><%= __('Search') %></a></li>
  <li><a href="#queryTab" role="tab" data-toggle="tab"><%= __('Database') %></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane active" id="operators">
  	<div class="row">
  		<div class="col-sm-6">
		  	<table class="table">
		  		<thead>
		  			<tr>
		  				<th><%= __('Name') %></th>
		  				<th><%= __('Initials') %></th>
		  			</tr>
		  		</thead>
		  		<tbody>
			  	<% operators.forEach(function (operator) { %> 
			  		<tr>
			  			<td><%= operator.name %></td>
			  			<td><%= operator.initials %></td>
							<td class="">
								<div class="btn-group">
								  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								    <%= __('Actions') %> 
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								  	<!--
								  	<li>
								  		<a class="edit-operator" data-id="<%= operator.id %>" href="javascript:;"><%= __('Edit') %></a>
								  	</li>
								  		-->
								    <li>
								    	<a class="delete-operator" data-id="<%= operator.id %>" href="javascript:;"><%= __('Delete') %></a>
								    </li>						    
								  </ul>
								</div>
							</td>
			  		</tr>
			  	<%}) %>
		  		</tbody>
		  	</table>

  			<button id="newOperatorButton" class="btn btn-primary"><%= __('New Operator') %></button>


  		</div>
  	</div>
  </div>


  <div class="tab-pane" id="searchTab">
	  <div class="row">
	  	<div class="col-sm-6">
	  		<form id="SearchRailcar" autocomplete="off">
	  			<div class="form-group">
	  				<label><%= __('Railcar.Search') %></label>
	  				<input type="text" name="number" class="form-control" placeholder="<%= __('Delivery.FilterInput.placeholder')%>"/>
	  			</div>
	  			<div class="form-group">
	  				<button type="submit" class="btn btn-primary"><%= __('Search')%></button>
	  			</div>
	  		</form>
	  	</div>
	  </div>


	  <div class="row">
	  	<div class="col-sm-12">
		  	<ul id="deliveryList" class="nav"></ul>
	  	</div>
	  </div>
	</div>



  <div class="tab-pane" id="queryTab">
		<div class="row">
			<div class="col-md-6">
				<form id="queryForm" class="form">
					<div class="form-group">
						<label for="query">Custom query</label>
						<textarea class="form-control" rows="5" id="query"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>

				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<br/>
				<pre id="log"></pre>
			</div>
		</div>
  </div>
 

</div>

</div>




<script class="found-delivery" type="text/x-handlebars-template" lang="en">
	<li>
		<a class="{{status}}" href="/delivery/station/{{delivery}}"><b>{{number}}</b> in {{status}} delivery <b>{{delivery}}</b> at spot <b>{{spot}}</b>.</a>
	</li>
</script>



<%- partial('./partials/modal.operator.add.ejs') %>

<script type="text/javascript">
window.addEventListener('load', function () {

	var $log = $('#log');




	$('#queryForm').on('submit', function (e) {
		e.preventDefault();
		var query = $('#query').val();

		$('body').addClass('loading');
		var confirm = new WindowConfirm();
		confirm.setMessage('.admin-query-confirm', {
			query: query,
		})
		confirm.setConfirm(function () {
			socket.post('/admin/query', { query: query }, function (message) {
				$('body').removeClass('loading');
				if (message !== null && message.code) {
					return $log.html(syntaxHighlight(message));
				}
				if (message == null) {
					return $log.html('query executed');
				}
				$log.html(syntaxHighlight(message));
			});	
		});
		confirm.setClose(function () {
			$('body').removeClass('loading');			
		})
		return confirm.show();
	})





	$('#newOperatorButton').on('click', function (e) {
		e.preventDefault();
		$('#ModalOperatorAdd').modal('show');
	})


	$('#OperatorAddForm').on('submit', function (e) {
		e.preventDefault();
		var name = $(this).find('[name="name"]').val();
		var initials = $(this).find('[name="initials"]').val();
		socket.post('/_api/operator', { name: name, initials: initials }, function (response) {
			return window.location.reload();
		})
	})



	$('.delete-operator').on('click', function (e) {
		e.preventDefault();
		var id = $(this).attr('data-id');
		socket.delete('/_api/operator/' + id, function (response) {
			return window.location.reload();			
		});
	});




	$('#SearchRailcar').on('submit', function (e) {
		e.preventDefault();

		var $list = $('#deliveryList');
		$list.html('');
		$('body').addClass('loading');

		var number = $(this).find('[name="number"]').val();

		socket.get('/_api/search/railcar', { number: number }, function (response) {
			if (response.error) return console.log(response.error);
			$.each(response, function (index, delivery) {
	      var source = $('.found-delivery').html();
	      var template = Handlebars.compile(source);
	      $list.append(template(delivery));
			});
			$('body').removeClass('loading');
		})


	})




})
</script>