<!-- 
	
	Home.Index

	* This file is the Home page of the application

 -->
 <div class="container">
  <div class="row">
    <h1>
    	<a href="/"><%= __('Home') %></a>
    </h1>
  </div>

	<div class="row">
		<div class="col-md-12">

			<div id="menu" class="square">
				<ul>
					<li>
						<a href="/delivery/create">
							<i class="fa fa-plus-circle create"></i>
							<h4><%= __('Menu.Create') %></h4>
						</a>
					</li>
					<li>
						<a href="/delivery">
							<i class="fa fa-list manage"></i>
							<span class="badge animated tada" id="deliveryCountNotification"></span>
							<h4><%= __('Menu.Manage') %></h4>
						</a>
					</li>
					<li>
						<a href="/archives">
							<i class="fa fa-archive archive"></i>
							<h4><%= __('Menu.Archives') %></h4>
						</a>
					</li>
					<!--
					<li>
						<a href="/search">
							<i class="fa fa-search"></i>
							<h4><%= __('Menu.Search') %></h4>
						</a>
					</li>
					-->
					<li>
						<a href="/admin" id="adminLink">
							<i class="fa fa-lock"></i>
							<h4><%= __('Menu.Admin') %></h4>
						</a>
					</li>
					<!--
					<li>
						<a href="/help">
							<i class="fa fa-question-circle"></i>
							<h4><%= __('Help') %></h4>
						</a>
					</li>
					-->
					<!--
					<li>
						<a href="javascript:;">
							<i class="fa fa-comments-o"></i>
							<h4><%= __('About') %></h4>
						</a>
					</li>
					-->
				</ul>
			</div>

		</div>
	</div>

</div>



<script type="text/javascript">
window.addEventListener('load', function () {

	socket.get('/_api/delivery/count', function (response) {
		if (response.error) return console.log(response.error);
		if (response.count > 0) {
			$('#deliveryCountNotification').html(response.count);
		}
	});


  $('#adminLink').on('click', function (e) {
    e.preventDefault();
    var $adminModal = $('#adminModal')
    $adminModal.modal('show');
  });


  $('#adminLoginForm').on('submit', function (e) {
    e.preventDefault();
    var password = document.getElementById('password_admin').value;
    $.post('/admin/login', { password: password }, function (response) {
      if (response.status == 200) {
        window.location.href = "/admin";
      }
      else {
        window.alert('ACCESS DENIED !');
      }
    })
  })


})
</script>

