<!-- 
  
  Home.Delivery.Reports

  * This file is the page where the reports from a delivery are manage

 -->

<div class="hidden">
  <input type="hidden" value="<%= delivery.id %>" id="DELIVERY_ID"/>
</div>


<div class="container" id="deliveryStats">

  <div class="row">
    <h1>
      <a href="/"><%= __('Home') %></a> / 
      <a href="/delivery"><%= __('Deliveries') %></a> / 
      <a href="/delivery/reports/<%= delivery.id %>"><%= __('Reports') %></a>
    </h1>
  </div>

  <div class="row">



    <div class="col-sm-6">
      <table class="table table-hover table-striped">
        <!--
        <caption><%= __('Delivery.Stats.Caption') %></caption>
        <thead>
          <tr>
            <th><%= __('Delivery.Stats.Name') %></th>
            <th><%= __('Delivery.Stats.Value') %></th>
          </tr>
        </thead>
        -->
        <tbody>
          <tr>
            <td><%= __('Delivery.Stats.id') %></td><td><%= delivery.id %></td>
          </tr>
          <tr>
            <td><%= __('Delivery.Stats.createdAt') %></td><td><%= Utils.formatDate(delivery.createdAt) %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6">

      <div id="menu" class="square">
        <ul>
          <li>
            <a href="/delivery/station/<%= delivery.id %>">
              <i class="fa fa-bus"></i>
              <h4><%= __('Station') %></h4>
            </a>
          </li>
          <li>
            <a href="/delivery">
              <i class="fa fa-list"></i>
              <h4><%= __('Deliveries') %></h4>
            </a>
          </li>
          <li>
            <a href="/">
              <i class="fa fa-home"></i>
              <h4><%= __('Home') %></h4>
            </a>
          </li>
        </ul>
      </div>


    </div>

  </div>


  <div class="row">





    <div class="col-sm-12">


      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th><%= __('Report.Name') %></th>
            <th><%= __('Report.Status') %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr id="transferReportRow">
            <td><%= __('Report.Transfer') %></td>
            <td id="transferReportStatus"></td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                  <%= __('Actions') %> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a class="complete-link" data-report="transfer" id="tranferCompleteLink" href="/delivery/reports/transfer/<%= delivery.id %>"><%= __('Complete') %></a>
                  </li>
                  <li>
                    <a href="/delivery/reports/transfer/print<%= delivery.id %>"><%= __('Print') %></a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr id="inspectionReportRow">
            <td><%= __('Report.Inspection') %></td>
            <td id="inspectionReportStatus"></td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                  <%= __('Actions') %> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a class="complete-link" data-report="inspection" id="inspectionCompleteLink"  href="/delivery/reports/inspection/<%= delivery.id %>"><%= __('Complete') %></a>
                  </li>
                  <li>
                    <a href="/delivery/reports/inspection/print<%= delivery.id %>"><%= __('Print') %></a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>


    </div>

  </div>


</div>




<script type="text/javascript">
window.addEventListener('load', function () {

  var delivery = document.getElementById('DELIVERY_ID').value;


  // Transfer Report
  socket.get('/_api/report/transferiscomplete', { delivery: delivery }, function (response) {
    if (response.error) return console.log(response.error);
    if (response.isComplete) {
      $('#transferReportRow').addClass('success');
      $('#transferReportStatus').html('complete');
    } else {
      $('#transferReportRow').addClass('warning');
      $('#transferReportStatus').html('incomplete');
    }
  });



  // Inspection Report
  socket.get('/_api/report/inspectioniscomplete', { delivery: delivery }, function (response) {
    if (response.error) return console.log(response.error);
    if (response.isComplete) {
      $('#inspectionReportRow').addClass('success');
      $('#inspectionReportStatus').html('complete');
    } else {
      $('#inspectionReportRow').addClass('warning');
      $('#inspectionReportStatus').html('incomplete');
    }
  });



  $('.complete-link').on('click', function (e) {
    e.preventDefault();
    var report = $(this).attr('data-report');
    var href = $(this).attr('href');
    socket.get('/_api/report/' + report + 'iscomplete', { delivery: delivery }, function (response) {
      if (response.error) return console.log(response.error);
      if (response.isComplete) {
        var confirm = new WindowConfirm();
        confirm.setMessage('This report is already complete, are you sure you want to compile it again?');
        confirm.setConfirm(function () {
          return window.location.href = href;
        });
        confirm.show();
      }
      else {
        return window.location.href = href;        
      }
    });
  })



})
</script>










































