<div class="container" id="deliveryStats">

  <div class="row">
    <h1>
    	<a href="/"><%= __('Home') %></a> / 
    	<a href="/search"><%= __('Search') %></a>
    </h1>
  </div>


  <div class="row">
  	<div class="col-sm-6">
  		<form id="SearchRailcar" autocomplete="off">
  			<div class="form-group">
  				<label><%= __('Railcar.Search') %></label>
  				<input type="text" name="number" class="form-control" placeholder="<%= __('Delivery.FilterInput.placeholder')%>"/>
  			</div>
  			<div class="form-group">
  				<button type="submit" class="btn btn-primary"><%= __('Search')%></button>
  			</div>
  		</form>
  	</div>
  </div>


  <div class="row">
  	<div class="col-sm-12">
	  	<ul id="deliveryList" class="nav"></ul>
  	</div>
  </div>


</div>


<script type="text/javascript">
window.addEventListener('load', function () {

	$('#SearchRailcar').on('submit', function (e) {
		e.preventDefault();

		var $list = $('#deliveryList');
		$list.html('');
		$('body').addClass('loading');

		var number = $(this).find('[name="number"]').val();

		socket.get('/_api/search/railcar', { number: number }, function (response) {
			if (response.error) return console.log(response.error);
			$.each(response, function (index, delivery) {
				console.log(delivery);
	      var source = $('.found-delivery').html();
	      var template = Handlebars.compile(source);
	      $list.append(template(delivery));
			});
			$('body').removeClass('loading');
		})


	})



    $('#slider-snap').noUiSlider({
    start: [ 0, 500 ],
    snap: true,
    connect: true,
    range: {
      'min': 0,
      '10%': 50,
      '20%': 100,
      '30%': 150,
      '40%': 500,
      '50%': 800,
      'max': 1000
    }
  });



})
</script>



<script class="found-delivery" type="text/x-handlebars-template" lang="en">
	<li>
		<a class="{{status}}" href="/delivery/station/{{delivery}}"><b>{{number}}</b> in {{status}} delivery <b>{{delivery}}</b> at spot <b>{{spot}}</b>.</a>
	</li>
</script>














