<!-- 

	Home.Station

	* This file is the station where we can see delivery

 -->

<input type="hidden" value="<%= delivery.id %>" id="DELIVERY_ID"/>
<input type="hidden" value="<%= delivery.status %>" id="DELIVERY_STATUS"/>


<% if (delivery.status == 'complete') { %>
<h1 id="archiveTitle">ARCHIVES</h1>
<% } %>

<div class="container" id="deliveryStats">
  <div class="row">
    <h1>
    	<a href="/"><%= __('Home') %></a> / 
    	<% if (delivery.status == 'active') { %>
    	<a href="/delivery"><%= __('Deliveries') %></a> / 
    	<% } else { %>
    	<a href="/archives"><%= __('Archives') %></a> / 
    	<% } %>
    	<a href="/delivery/station/<%= delivery.id %>"><%= __('Station') %></a>
    </h1>
  </div>




	<div class="row">

		<div class="col-md-6 col-xs-12">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td><%= __('Delivery.Stats.id') %></td><td><%= delivery.id %></td>
					</tr>
					<tr>
						<td><%= __('Delivery.Stats.createdAt') %></td><td><%= Utils.formatDate(delivery.createdAt) %></td>
					</tr>
					<tr>
						<td><%= __('Delivery.Stats.wagon_count') %></td><td id="wagonCount"></td>
					</tr>
					<tr>
						<td><%= __('Delivery.Stats.baril_count') %></td><td id="barilCount"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-6 hidden-xs">
			<div id="menu" class="square">
				<ul>
	    	<% if (delivery.status == 'active') { %>
					<li>
						<a href="/delivery">
							<i class="fa fa-save"></i>
							<h4><%= __('Save') %></h4>
						</a>
					</li>
					<% } else { %>
					<li>
						<a href="/archives">
							<i class="fa fa-archive"></i>
							<h4><%= __('Archives') %></h4>
						</a>
					</li>
					<% } %>					
					<li>
						<a href="/delivery/reports/<%= delivery.id %>">
							<i class="fa fa-file-text-o print"></i>
							<h4><%= __('Reports') %></h4>
						</a>
					</li>
					<li>
						<a href="/">
							<i class="fa fa-home"></i>
							<h4><%= __('Home') %></h4>
						</a>
					</li>
				</ul>
			</div>
	 </div>

	</div>

</div>



<div id="deliveryContainer">
	
	<% sails.config.TrainSystem.rails.forEach(function (rail, i) {  %>
	<div class="row">
		<div class="fifteen-cols">
			<% rail.forEach(function (spot, j) { %>
			<div class="col-sm-1 wagon-container">
				<a href="" class="wagon" id="<%= spot %>" tabindex="<%= j + i + 99 %>" data-reference="" data-spot="<%= spot %>" data-id="">
					<span class="spot"><%= spot %></span>
					<span class="railcar"></span>
				</a>
			</div>
			<% }) %>
		</div>		
	</div>

	<% }) %>

</div>


<%- partial('./partials/modal.railcar.add.ejs') %>
<%- partial('./partials/modal.railcar.edit.ejs') %>


<script type="text/javascript">
window.addEventListener('load', function () {

	disable_station();

	var delivery = document.getElementById('DELIVERY_ID').value;
	var status = document.getElementById('DELIVERY_STATUS').value;

	station_connect(delivery, function (railcars) {

		// ROUTING
		bind_socket_message('railcarindelivery', 'create', function (railcar) {
			if (railcar.delivery && railcar.delivery == delivery) {
				update_delivery_stats(delivery);
				add_railcar_to_spot(railcar);
				show_message_add_railcar(railcar);
			}
		});

		bind_socket_message('railcarindelivery', 'update', function (railcar) {
			console.log(railcar);
			if (railcar.delivery && railcar.delivery == delivery) {
				update_delivery_stats(delivery);
				update_railcar_view(railcar);
			}
		});

		bind_socket_message('railcarindelivery', 'destroy', function (railcar) {
			update_delivery_stats(delivery);
			remove_railcar_from_spot(railcar.id);
			show_message_remove_railcar();
		});

		load_delivery_in_station(delivery, function () {
			activate_typeahead_plugin(railcars);
			initialize_event_handlers(delivery, railcars, status);
			enable_station();
		});
		
	});
});





/**
 * disable_station
 * 
 * - This function disable the station.
 */
function disable_station () {
	$('body').addClass('loading');
	console.log('Station is DISABLE')
}


/**
 * enable_station
 * 
 * - This function enable the station.
 */
function enable_station () {
	$('body').removeClass('loading');
	console.log('Station is ENABLE')
	// var info = new WindowInfo();
	// info.setMessage('Station is enable and ready to use.');
	// info.show();
}



/**
 * station_connect
 * 
 * - This function subscribe the station to the current delivery.
 * @param delivery
 * @param cb
 */
function station_connect (delivery, cb) {
	socket.get('/_api/subscribe/delivery/', { delivery: delivery }, function (response) {
		console.log(response);
		socket.get('/_api/subscribe/railcar', { delivery: delivery }, function (response) { 
			console.log(response); 
			get_close_railcars(cb);
		});
	});
}



/**
 * get_close_railcars
 * 
 * - This function get all CN Railcar near the station.
 * @param cb
 */
function get_close_railcars (cb) {
	socket.get('/_api/cnrailcar/getcloserailcars', function (results) {
		if (results.error) return console.log(results.error);
		return cb(results);
	});
}



/**
 * bind_socket_message
 * 
 * - This function bind a socket message to a model/verb.
 * @param model
 * @param verb
 * @param cb
 */
function bind_socket_message (model, verb, cb) {
	socket.on('message', function (message) {
		console.log(message);
		if (message.model && message.model == model) {
			if (message.verb && message.verb == verb) {
				return (message.data) ? cb(message.data) : cb(message);
			}
		}
	});
}



/**
 * add_railcar_to_delivery
 * 
 * - This function add a railcar to the current delivery at a spot
 * @param railcarNumber
 * @param spot
 * @param delivery
 */
function add_railcar_to_delivery (railcarNumber, spot, delivery, cb) {
	// Check if spot is available
	socket.get('/_api/delivery/checkspot', { delivery: delivery, spot: spot }, function (results) {
		if (results.error) return console.log(results.error);
		if (results.isTaken) {
			$('#ModalWagonAdd').modal('hide');			
			var alert = new WindowAlert();
			alert.setMessage('.spot-taken-message', { 
				spot : spot,
				railcar : results.railcar.number,
			})
			alert.show();
			return;
		}
		if (results.isAvailable) {

			// Check if CNRailcar exist
			socket.get('/_api/cnrailcar/get', { number: railcarNumber }, function (results) {
				if (results.error) return console.log(results.error);
				if (results.isNotFound) { 
					$('#ModalWagonAdd').modal('hide');			
					var alert = new WindowAlert();
					alert.setMessage('.railcar-not-found-message', {
						railcar : railcarNumber,
					});
					alert.show();
					return;
				}

				var railcar = results;

				// Check if Railcar already used
				socket.get('/_api/railcarindelivery/isalreadyused', { cn_id: railcar.id }, function (results) {
					if (results.error) return console.log(results.error);
					if (results.isAlreadyUsed) {
						// Check if the delivery is complete
						get_delivery_informations(results.railcar.delivery, function (railcarDelivery) {
							if (railcarDelivery.status == 'complete') {
								$('#ModalWagonAdd').modal('hide');								
								var confirm = new WindowConfirm();
								confirm.setMessage('.archive-railcar-already-used', {
									railcar: results.railcar.number,
									delivery: results.railcar.delivery,
									spot: results.railcar.spot,
									billOfLading: $.parseJSON(results.railcar.informations.replace(/'/ig, '"')).BillofLading,
								});
								confirm.setConfirm(function () {

									var railcarToAdd = {
										delivery     : delivery,
										spot         : spot,
										CNRailcarID  : railcar.id,
										number       : railcar.Railcar,
										netVolBBL    : railcar.NetVolBBL,
										isDefective  : (results.railcar && results.railcar.isDefective) ? true : false,
										informations : railcar,
									};

									socket.post('/_api/railcarindelivery', railcarToAdd, function (results) {
										cb(results);
									});

								})
								confirm.show();
								return;
							} 
							else {
								$('#ModalWagonAdd').modal('hide');
								var alert = new WindowAlert();
								alert.setMessage('.railcar-already-used-message', {
									railcar: results.railcar.number,
									delivery: results.railcar.delivery,
									spot: results.railcar.spot,
								});
								alert.show();
								return;				
							}
						})
					}

					if (results.isAvailable) {

						var railcarToAdd = {
							delivery     : delivery,
							spot         : spot,
							CNRailcarID  : railcar.id,
							number       : railcar.Railcar,
							netVolBBL    : railcar.NetVolBBL,
							isDefective  : (results.railcar && results.railcar.isDefective) ? true : false,
							informations : railcar,
						};

						if (results.isDefective && results.railcar) {
							$('#ModalWagonAdd').modal('hide');
							var confirm = new WindowConfirm();							
							confirm.setMessage('.defective-railcar-message', {
								railcar: results.railcar.number,
								delivery: results.railcar.delivery,
							});
							confirm.setConfirm(function () {
								socket.post('/_api/railcarindelivery', railcarToAdd, function (results) {
									cb(results);
								});
							});
							confirm.show();
							return;
						}

						// Add railcar to delivery
						socket.post('/_api/railcarindelivery', railcarToAdd, function (results) {
							cb(results);
						})
					}
				});
			});
		}
	});
}







/**
 * add_railcar_to_spot
 * 
 * - This function show a railcar at is spot. UI method
 * @param railcar object
 */
function add_railcar_to_spot (railcar) {
	var $spot = $('#'+railcar.spot);
	$spot.attr('data-spot', railcar.spot);
	$spot.attr('data-id', railcar.id);
	$spot.find('.railcar').html(railcar.number);
	$spot.addClass('occupy');
	// console.log(railcar);
	if (railcar.isDefective) {
		$spot.addClass('defective');
	}
}


/**
 * remove_railcar_from_spot
 * 
 * - This function remove a railcar from a spot. UI method
 * @param railcar_id
 */
function remove_railcar_from_spot (railcar_id) {

	var $spot = $('[data-id="' + railcar_id + '"]');
	$spot.attr('data-id', '');
	$spot.find('.railcar').html('');
	$spot.removeClass('occupy');
	$spot.removeClass('defective');

}


/**
 * load_delivery_in_station
 * 
 * - This function load are railcars related to the current delivery and place them at their spot
 * @param railcar object
 * @param cb
 */
function load_delivery_in_station (delivery, cb) {
	socket.get('/_api/railcarindelivery/railcarsfromdelivery', { delivery: delivery }, function (results) {
		if (results.error) return console.log(results.error);
		$.each(results, function (index, railcar) {
			add_railcar_to_spot(railcar);
		});
		update_delivery_stats(delivery, cb);
	});
}



/**
 * get_railcar_from_delivery
 * 
 * - This function get the railcar in delivery with all the informations related
 * @param railcar_id
 * @param cb
 */
function get_railcar_from_delivery (railcar_id, cb) {
	socket.get('/_api/railcarindelivery/' + railcar_id, function (response) {
		if (response.status && response.status == 404) return window.alert('Railcar not found, id: ' + railcar_id);
		if (response.informations) {
			response.informations = response.informations.replace(/'/ig, '"');
		}
		cb(response);
	});
}




/**
 * get_delivery_informations
 * 
 * - This function get the railcar in delivery with all the informations related
 * @param railcar_id
 * @param cb
 */
function get_delivery_informations (delivery, cb) {
	socket.get('/_api/delivery/' + delivery, function (response) {
		if (response.status && response.status == 404) return window.alert('Delivery not found, id: ' + delivery);
		return cb(response);
	});
}



/**
 * remove_railcar_from_delivery
 * 
 * - This function remove a railcar from the RailcarInDelivery 
 * @param railcar_id
 * @param cb
 */
function remove_railcar_from_delivery (railcar_id, cb) {
	socket.delete('/_api/railcarindelivery/' + railcar_id, function (response) {
		if (response.status && response.status == 404) return window.alert('Railcar not found, id: ' + railcar_id);
		cb(response);
	});
}



/**
 * update_railcar_netvolBBL
 * 
 * - This function update the railcar BBL
 * @param railcar
 * @param netVolBBL
 */
function update_railcar_netvolBBL (railcar, netVolBBL, cb) {
	console.log(railcar);
	console.log(netVolBBL);
	socket.get('/_api/railcarindelivery/updatenetvolbbl', { id: railcar, netVolBBL: netVolBBL }, function (response) {
		if (response.error) return console.log(response.error);
		cb(response);
	});

};




/**
 * update_railcar_status
 * 
 * - This function update the railcar status
 * @param railcar
 * @param netVolBBL
 */
function update_railcar_status (railcar, status, cb) {
	console.log(status);
	socket.get('/_api/railcarindelivery/updatestatus', { railcar: railcar, status: status }, function (response) {
		if (response.error) return console.log(response.error);
		cb(response);
	});

};






/**
 * initialize_event_handlers
 * 
 * - This function initialize all the ui events 
 * @param delivery
 * @param railcars
 */
function initialize_event_handlers (delivery, railcars, status) {

	// When click on a spot
	$('.wagon').on('click', function (e) {
		e.preventDefault();
		var spot = $(this).attr('data-spot');
		var railcar_id = $(this).attr('data-id');
		if (railcar_id == '' && status != 'complete') {
			reset_add_form();
			$modal = $('#ModalWagonAdd');
			$modal.find('.spot-title').html(spot);
			$modal.find("[name='spot']").val(spot);
			$modal.modal('show');
			setTimeout(function () { $('#filterInput').focus();}, 500);
		}
		else {
			get_railcar_from_delivery(railcar_id, function (railcar) {

				var informations = $.parseJSON(railcar.informations);

				console.log(informations);

				$modal = $('#ModalWagonRemove');
				$modal.find("[name='id']").val(railcar.id);
				$modal.find('#cnGlobalId').html(railcar.CNRailcarID);
				$modal.find('#removeRailcarNumber').html(railcar.number);
				$modal.find('#removeRailcarBillOfLading').html(informations.BillofLading);
				$modal.find('#removeRailcarProduct').html(informations.Product);
				$modal.find('#removeRailcarSpot').html(railcar.spot);
				$modal.find('#removeRailcarDelivery').html(railcar.delivery);
				$modal.find('#removeRailcarTrain').html(informations.TrainId);
				$modal.find('#removeRailcarSeal1').html(informations.Seal1);
				$modal.find('#removeRailcarSeal2').html(informations.Seal2);
				$modal.find('#removeRailcarSeal3').html(informations.Seal3);
				$modal.find('#myonoffswitch').prop('checked', !railcar.isDefective);
				$modal.find('#myonoffswitch').attr('data-railcar', railcar.id);
				$modal.find('#editNetVolBBLInput').html(railcar.netVolBBL);

				$editNetVolBBLForm = $('#editNetVolBBLForm');
				$editNetVolBBLForm.find('#editNetVolBBLRailcarId').val(railcar.id);
				$editNetVolBBLForm.find('#editNetVolBBLInput').val(railcar.netVolBBL);

				$modal.modal('show');
			})	
		}
	});


	// When submit add railcar form
	$('#RailcarFormAdd').on('submit', function (e) {
		e.preventDefault();
		var number = $(this).find("[name='number']").val();
		var spot = $(this).find("[name='spot']").val();
		add_railcar_to_delivery(number, spot, delivery, function (railcar) {
			reset_add_form();
		})
	});


	// RemoveRailcarForm.Submit
	$('#RailcarFormRemove').on('submit', function (e) {
		e.preventDefault();
		var railcar_id = $(this).find("[name='id']").val();
		remove_railcar_from_delivery(railcar_id, function () {
			$('#ModalWagonRemove').modal('hide');
		})
	});


	$('#changeNetVolBBLButton').on('click', function (e) {
		e.preventDefault();
		var $editNetVolBBLForm = $('#editNetVolBBLForm');
		var railcar = $editNetVolBBLForm.find('#editNetVolBBLRailcarId').val();
		var netVolBBL = $editNetVolBBLForm.find('#editNetVolBBLInput').val();
		update_railcar_netvolBBL(railcar, netVolBBL, function () {
			$('#ModalWagonRemove').modal('hide');
		})		
	})	


	$('#myonoffswitch').on('click', function (e) {
		if (status == 'complete') {
			e.preventDefault();
		}
	})

	$('#myonoffswitch').on('change', function (e) {
		var railcar = $(this).attr('data-railcar');
		var status = !$(this).prop('checked');

		console.log(railcar);

		update_railcar_status(railcar, status, function () {
			$('#ModalWagonRemove').modal('toggle');
		});

	});


}





/**
 * activate_typeahead_plugin
 * 
 * - This function initialize the typeahead plugins 
 * @param raiclars
 */
function activate_typeahead_plugin (railcars) {
	// Typeahead plugin setup
	var typeaheadOptions = { hint: false, highlight: true, minLength: 1 };
	var typeaheadDataset = { name: 'cars', displayKey: 'value', source: railcarMatcher() };
	$('#filterInput').typeahead(typeaheadOptions, typeaheadDataset);

	function railcarMatcher () {
		return function (q, cb) {
			var matches, substringRegex;
			matches = [];
			substringRegex = new RegExp(q, 'i');
			$.each(railcars, function (i, car) {
				if (substringRegex.test(car.number)) {
					matches.push({ value: car.number });
				}
			});
			cb(matches);
		}
	}
}




/**
 * reset_add_form
 * 
 * - This function reset the railcar add form
 */
function reset_add_form () {
	$modal = $('#ModalWagonAdd');
	$('#RailcarFormAdd').parsley().reset();
	$modal.find('#filterInput').val('');
	$modal.find('.spot-title').html('');
	$modal.find('[name="spot"]').val('');
	$modal.modal('hide');
};






/**
 * show_message_add_railcar 
 * 
 * - This function show a growl message when a car is added
 * @param railcar
 */
function show_message_add_railcar (railcar) {
	$.growl(
	{
		icon: 'glyphicon glyphicon-ok-sign',
		message: handlebar_message('.add-railcar-growl', {
			railcar: railcar.number,
			spot: railcar.spot,
		})
	},
	{
		type: 'success',
		offset: 60,
		delay: 3000,
	})
}



/**
 * show_message_remove_railcar
 * 
 * - This function show a growl message when a car is removed
 * @param railcar
 */
function show_message_remove_railcar () {
	$.growl(
	{
		icon: ' glyphicon glyphicon-exclamation-sign',
		message: handlebar_message('.remove-railcar-growl'),
	},
	{
		type: 'warning',
		offset: 60,
		delay: 3000,
	})
}



/**
 * show_wagon_count
 * 
 * - This function show the updated wagon count
 * @param railcar
 */
function show_wagon_count (delivery, cb) {
	var cb = typeof cb !== 'undefined' ? cb : function () {};
	socket.get('/_api/delivery/wagoncount', { delivery: delivery }, function (response) {
		if (response.error) return console.log(response.error);
		$('#wagonCount').html(response.count);
		cb()
	});
};



/**
 * show_baril_count
 * 
 * - This function show the updated baril count
 * @param railcar
 */
function show_baril_count (delivery, cb) {
	var cb = typeof cb !== 'undefined' ? cb : function () {};
	socket.get('/_api/delivery/barilcount', { delivery: delivery }, function (response) {
		if (response.error) return console.log(response.error);
		$('#barilCount').html(response.count);
		cb();
	});
};


/**
 * update_delivery_stats
 * 
 * - This function show the statistics of the current delivery
 * @param railcar
 */
function update_delivery_stats (delivery, cb) {
	var cb = typeof cb !== 'undefined' ? cb : function () {};
	show_wagon_count(delivery, function () {
		show_baril_count(delivery, cb);
	});
};






function update_railcar_view (railcar) {
	if (railcar.isDefective === 'undefined' || !railcar.spot) return;
	var $spot = $('#'+railcar.spot);
	if (railcar.isDefective) {
		$spot.addClass('defective');
	}
	else {
		$spot.removeClass('defective');		
	}
}














</script>

















