<div class="container" id="deliveryStats">
	<div class="col-md-6 col-xs-12">
		<table class="table table-hover table-striped">
			<caption><%= __('Delivery.Stats.Caption') %></caption>
			<thead>
				<tr>
					<th><%= __('Delivery.Stats.Name') %></th>
					<th><%= __('Delivery.Stats.Value') %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= __('Delivery.Stats.id') %></td><td><%= delivery.id %></td>
				</tr>
				<tr>
					<td><%= __('Delivery.Stats.createdAt') %></td><td><%= Utils.formatDate(delivery.createdAt) %></td>
				</tr>
				<tr>
					<td><%= __('Delivery.Stats.wagon_count') %></td><td id="wagonCount"></td>
				</tr>
				<tr>
					<td><%= __('Delivery.Stats.baril_count') %></td><td id="barilCount"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-md-6 hidden-xs">
		<div id="menu" class="square">
			<ul>
				<li>
					<a href="#" data-toggle="modal" data-target="#printModal">
						<i class="glyphicon glyphicon-print print"></i>
						<h4><%= __('Menu.Print') %></h4>
					</a>
				</li>
				<li>
					<a href="/delivery">
						<i class="glyphicon glyphicon-pause stop"></i>
						<h4><%= __('Menu.Pause') %></h4>
					</a>
				</li>
<!-- 				<li>
					<a href="#">
						<i class="glyphicon glyphicon-trash"></i>
						<h4><%= __('Menu.Delete') %></h4>
					</a>
				</li> -->
			</ul>
		</div>
	</div>


</div>

<div id="deliveryContainer">
	
	<% sails.config.k1.rails.forEach(function (rail, i) {  %>
	<div class="row">
		<div class="fifteen-cols">
			<% rail.forEach(function (spot, j) { %>
			<div class="col-sm-1 wagon-container">
				<a href="" class="wagon" id="<%= spot %>" tabindex="<%= j + i + 99 %>" data-reference="" data-id="">
					<span class="spot"><%= spot %></span>
					<span class="railcar"></span>
				</a>
			</div>
			<% }) %>
		</div>		
	</div>

	<% }) %>

</div>

<%- partial('partials/modal.wagon.add.ejs') %>
<%- partial('partials/modal.wagon.remove.ejs') %>
<%- partial('partials/modal.print.ejs') %>
<%- partial('partials/modal.admin.ejs') %>

<script type="text/javascript">
$(document).ready(function () {
	$.getScript('/js/manage.js');
})
</script>